@charset 'utf-8';

.noto-sans-kr-normal {
  font-family: 'Noto Sans KR', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --mainColor: #7db249;
  font-family: 'Noto Sans KR';
}

.wrap {
  overflow: hidden;
  
}
.wrap > * {
  max-width: 1200px;
  width: calc(100% - 1rem);
  margin: auto;
}

h1 {
  background-color: #f4f4f4;
  height: 56px;
}

/* 헤더 시작 */
header img {
  width: 100px;
}

header nav {
  display: flex;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

nav ul {
  display: flex;
}
nav ul li a {
  color: #858585;
  padding-right: 3rem;
  transition: 0.3s;
}

nav ul li:hover a {
  color: var(--mainColor);
}

/* 상단 검색버튼 */

.inputText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: violet; */
}
.inputText input {
  position: relative;
  width: 30%;
  height: 56px;
  border: none;
  border-radius: 30px;
  background-color: #f4f4f4;
  outline: none;
  padding-left: 2rem;
}
.inputText i {
  position: relative;
  cursor: pointer;
  right: 40px;
}

/* 메인 영역시작  */

main img {
  position: relative;
  padding: 2rem 0;
  left: 50%;
  transform: translateX(-50%);
  height: 560px;
}

main .text1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text1 span {
  /* position: relative; */
  width: 80%;
  height: 70px;
  border-radius: 30px;
  background-color: #f4f4f4;
  font-size: 20px;
  padding: 1.5rem;
}

.pgcon {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 0 1rem;
}
.pgcon button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
}
.pgcon button:hover {
  background-color: #999;
}
.pgcon button.on {
  color: var(--mainColor);
  font-weight: bold;
}

/* 메인 ul 부분 */

main .listCon {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

main ul div {
  white-space: wrap;
}

main ul li {
  position: relative;
  border: 1px solid black;
  border-radius: 30px;
}
main ul li > * {
  line-height: 1.6;
  padding: 0 1rem;
}

main ul img {
  height: 200px;
}

main ul .text_title {
  font-size: 20px;
  font-weight: bold;
}
main ul .text_point {
  font-size: 15px;
  color: var(--mainColor);
}
main ul .text_main {
  white-space: wrap;
  /* text-overflow: ellipsis; */
}

main ul .more {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: transparent;
}
